# Example to connect to postgres

This is a tutorial to connect to our PostgreSQL database using python.

First you need to install the following libraries:
- psycopg2
- python-dotenv

Then you need to create a file with the name ".env". This file will contain the connection information and your credentials. This is an example:

```
DB_HOST=host_name
DB_NAME=postgres
DB_USER=my_user
DB_PASSWORD=my_password
DB_PORT=5432
```

After that youÂ´re all set. We will import your credentials and connect to the database.

In [2]:
import os
import psycopg2 # PostgreSQL database adapter for Python
from dotenv import load_dotenv # Reads the key-value pair from .env file and adds them to environment variable

# Load environment variables from .env file
load_dotenv()

# Accessing credentials
db_host = os.getenv("DB_HOST")
db_name = os.getenv("DB_NAME")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_port = os.getenv("DB_PORT")

In [3]:
# Connect to the database
conn = psycopg2.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password,
    port=db_port
)

Now we can query our data (write sql code) and store it as a pandas dataframe

In [4]:
import pandas as pd

In [8]:
query="""
    select * 
    from agg.t_msb1m  
    where year = 2019 and month = 7 and day =12
"""

In [9]:
df = pd.read_sql_query(query, conn)

/var/folders/vt/5wzq72vd2mj_qqq_fwp77h_40000gq/T/ipykernel_72393/1553155693.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [10]:
df

,site,year,month,day,hour,min,tz,soc,discharge_wh,charge_wh,...,gridexport_wh,gridimport_wh,pvcharge_wh,pvcons_wh,pvexport_wh,griddischarge_wh,gridcharge_wh,gridcons_wh,consdischarge_wh,mismatch_wh
0,2,2019,7,12,0,0,UTC+01:00,47.0,24.43,0.00,...,0.0,7.73,0.0,0.00,0.0,0.0,0.00,7.73,24.43,0.0
1,2,2019,7,12,0,15,UTC+01:00,46.0,28.34,0.00,...,0.0,8.61,0.0,0.00,0.0,0.0,0.00,8.61,28.34,0.0
2,2,2019,7,12,0,30,UTC+01:00,45.0,31.67,0.00,...,0.0,7.83,0.0,0.00,0.0,0.0,0.00,7.83,31.67,0.0
3,2,2019,7,12,0,45,UTC+01:00,44.0,32.17,0.00,...,0.0,8.45,0.0,0.00,0.0,0.0,0.00,8.45,32.17,0.0
4,2,2019,7,12,1,0,UTC+01:00,42.0,46.29,0.00,...,0.0,8.51,0.0,0.00,0.0,0.0,0.00,8.51,46.29,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4027,91,2019,7,12,22,45,UTC+01:00,0.0,191.58,1.33,...,0.0,316.59,0.0,0.52,0.0,0.0,1.33,315.26,191.58,0.0
4028,91,2019,7,12,23,0,UTC+01:00,0.0,6.05,2.39,...,0.0,478.89,0.0,1.05,0.0,0.0,2.39,476.50,6.05,0.0
4029,91,2019,7,12,23,15,UTC+01:00,0.0,0.00,2.55,...,0.0,488.49,0.0,0.00,0.0,0.0,2.55,485.94,0.00,0.0
4030,91,2019,7,12,23,30,UTC+01:00,0.0,0.00,2.55,...,0.0,407.50,0.0,0.00,0.0,0.0,2.55,404.95,0.00,0.0
4031,91,2019,7,12,23,45,UTC+01:00,0.0,0.00,2.55,...,0.0,70.10,0.0,0.00,0.0,0.0,2.55,67.55,0.00,0.0