In [1]:
import os
import pandas as pd
import numpy as np
import os
import psycopg2 # PostgreSQL database adapter for Python
from dotenv import load_dotenv # Reads the key-value pair from .env file and adds them to environment variable
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.losses import MeanAbsoluteError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.models import load_model
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import train_test_split, GridSearchCV, TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load environment variables from .env file
load_dotenv()

# Accessing credentials
db_host = os.getenv("DB_HOST")
db_name = os.getenv("DB_NAME")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_port = os.getenv("DB_PORT")

In [3]:
# Connect to the database
conn = psycopg2.connect(
    host=db_host,
    dbname=db_name,
    user=db_user,
    password=db_password,
    port=db_port
)

In [4]:
query_main=query="""
    select * 
    from agg.tidy_data_30min
    where site = 20
"""
df_main = pd.read_sql_query(query_main, conn)

In [5]:
pd.set_option('display.max_columns', None)
df_main = df_main[['timestamp','net_load','month', 'day', 'hour', 'day_of_week', 'season', 'avg_net_load','weekend_or_bank_holiday','solar_radiation','sunshine_duration']]
df_main
df_main

,timestamp,net_load,month,day,hour,day_of_week,season,avg_net_load,weekend_or_bank_holiday,solar_radiation,sunshine_duration
0,2019-04-23 15:00:00+00:00,9.38,4,23,16,1,2,-27.63,0,NaN,NaN
1,2019-04-23 15:30:00+00:00,10.35,4,23,16,1,2,-24.74,0,NaN,NaN
2,2019-04-23 16:00:00+00:00,16.79,4,23,17,1,2,5.20,0,NaN,NaN
3,2019-04-23 16:30:00+00:00,16.98,4,23,17,1,2,28.17,0,NaN,NaN
4,2019-04-23 17:00:00+00:00,11.89,4,23,18,1,2,53.22,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17557,2020-03-30 04:30:00+00:00,511.06,3,30,5,0,2,608.02,0,NaN,NaN
17558,2020-03-30 05:00:00+00:00,320.69,3,30,6,0,2,586.85,0,NaN,NaN
17559,2020-03-30 05:30:00+00:00,245.21,3,30,6,0,2,524.16,0,NaN,NaN
17560,2020-03-30 06:00:00+00:00,187.68,3,30,7,0,2,458.60,0,NaN,NaN
17561,2020-03-30 06:30:00+00:00,86.28,3,30,7,0,2,274.72,0,NaN,NaN

In [6]:
#cheking the range of df_ma'timestamp']
print(df_main['timestamp'].max())

2020-03-31 22:30:00+00:00

In [7]:
#Set view format to scrollable for better visualization
pd.set_option('display.max_rows', 200)

In [15]:
# Check the range of the timestamp column
min_timestamp = df_main['timestamp'].min()
max_timestamp = df_main['timestamp'].max()

# Get the last 25 values of the timestamp range
last_25_timestamps = df_main['timestamp'].sort_values().tail(200)
last_25_timestamps

17370   2020-03-27 21:00:00+00:00
17371   2020-03-27 21:30:00+00:00
17372   2020-03-27 22:00:00+00:00
17373   2020-03-27 22:30:00+00:00
17374   2020-03-27 23:00:00+00:00
17375   2020-03-27 23:30:00+00:00
17376   2020-03-28 00:00:00+00:00
17377   2020-03-28 00:30:00+00:00
17378   2020-03-28 01:00:00+00:00
17379   2020-03-28 01:30:00+00:00
17380   2020-03-28 02:00:00+00:00
17381   2020-03-28 02:30:00+00:00
17382   2020-03-28 03:00:00+00:00
17383   2020-03-28 03:30:00+00:00
17384   2020-03-28 04:00:00+00:00
17385   2020-03-28 04:30:00+00:00
17386   2020-03-28 05:00:00+00:00
17387   2020-03-28 05:30:00+00:00
17388   2020-03-28 06:00:00+00:00
17389   2020-03-28 06:30:00+00:00
17390   2020-03-28 07:00:00+00:00
17391   2020-03-28 07:30:00+00:00
17392   2020-03-28 08:00:00+00:00
17393   2020-03-28 08:30:00+00:00
17394   2020-03-28 09:00:00+00:00
17395   2020-03-28 09:30:00+00:00
17396   2020-03-28 10:00:00+00:00
17397   2020-03-28 10:30:00+00:00
17398   2020-03-28 11:00:00+00:00
17399   2020-03-28 11:30:00+00:00
17400   2020-03-28 12:00:00+00:00
17401   2020-03-28 12:30:00+00:00
17402   2020-03-28 13:00:00+00:00
17403   2020-03-28 13:30:00+00:00
17404   2020-03-28 14:00:00+00:00
17405   2020-03-28 14:30:00+00:00
17406   2020-03-28 15:00:00+00:00
17407   2020-03-28 15:30:00+00:00
17408   2020-03-28 16:00:00+00:00
17409   2020-03-28 16:30:00+00:00
17410   2020-03-28 17:00:00+00:00
17411   2020-03-28 17:30:00+00:00
17412   2020-03-28 18:00:00+00:00
17413   2020-03-28 18:30:00+00:00
17414   2020-03-28 19:00:00+00:00
17415   2020-03-28 19:30:00+00:00
17416   2020-03-28 20:00:00+00:00
17417   2020-03-28 20:30:00+00:00
17418   2020-03-28 21:00:00+00:00
17419   2020-03-28 21:30:00+00:00
17420   2020-03-28 22:00:00+00:00
17421   2020-03-28 22:30:00+00:00
17422   2020-03-28 23:00:00+00:00
17423   2020-03-28 23:30:00+00:00
17424   2020-03-29 00:00:00+00:00
0       2020-03-29 00:00:00+00:00
17425   2020-03-29 00:30:00+00:00
1       2020-03-29 00:30:00+00:00
17426   2020-03-29 01:00:00+00:00
2       2020-03-29 01:00:00+00:00
3       2020-03-29 01:30:00+00:00
17427   2020-03-29 01:30:00+00:00
17428   2020-03-29 02:00:00+00:00
17429   2020-03-29 02:30:00+00:00
17430   2020-03-29 03:00:00+00:00
17431   2020-03-29 03:30:00+00:00
17432   2020-03-29 04:00:00+00:00
17433   2020-03-29 04:30:00+00:00
17434   2020-03-29 05:00:00+00:00
17435   2020-03-29 05:30:00+00:00
17436   2020-03-29 06:00:00+00:00
17437   2020-03-29 06:30:00+00:00
17438   2020-03-29 07:00:00+00:00
17439   2020-03-29 07:30:00+00:00
17440   2020-03-29 08:00:00+00:00
17441   2020-03-29 08:30:00+00:00
17442   2020-03-29 09:00:00+00:00
17443   2020-03-29 09:30:00+00:00
17444   2020-03-29 10:00:00+00:00
17445   2020-03-29 10:30:00+00:00
17446   2020-03-29 11:00:00+00:00
17447   2020-03-29 11:30:00+00:00
17448   2020-03-29 12:00:00+00:00
17449   2020-03-29 12:30:00+00:00
17450   2020-03-29 13:00:00+00:00
17451   2020-03-29 13:30:00+00:00
17452   2020-03-29 14:00:00+00:00
17453   2020-03-29 14:30:00+00:00
17454   2020-03-29 15:00:00+00:00
17455   2020-03-29 15:30:00+00:00
17456   2020-03-29 16:00:00+00:00
17457   2020-03-29 16:30:00+00:00
17458   2020-03-29 17:00:00+00:00
17459   2020-03-29 17:30:00+00:00
17460   2020-03-29 18:00:00+00:00
17461   2020-03-29 18:30:00+00:00
17462   2020-03-29 19:00:00+00:00
17463   2020-03-29 19:30:00+00:00
17464   2020-03-29 20:00:00+00:00
17465   2020-03-29 20:30:00+00:00
17466   2020-03-29 21:00:00+00:00
17467   2020-03-29 21:30:00+00:00
17468   2020-03-29 22:00:00+00:00
17469   2020-03-29 22:30:00+00:00
17470   2020-03-29 23:00:00+00:00
17471   2020-03-29 23:30:00+00:00
17472   2020-03-30 00:00:00+00:00
17473   2020-03-30 00:30:00+00:00
17474   2020-03-30 01:00:00+00:00
17475   2020-03-30 01:30:00+00:00
17476   2020-03-30 02:00:00+00:00
17477   2020-03-30 02:30:00+00:00
17478   2020-03-30 03:00:00+00:00
17479   2020-03-30 03:30:00+00:00
17480   2020-03-30 04:00:00+00:00
17481   2020-03-30 04:30:00+00:00
17482   2020-03-30 05:00:00+00:00
17483   2020-03-30 05:30:00+00:00
17484   2020-03-30 06:00:00+00:00
17485   2020-03-30 06:30:00+00:00
17486   2020-03-30 07:00:00+00:00
17487   2020-03-30 07:30:00+00:00
17488   2020-03-30 08:00:00+00:00
17489   2020-03-30 08:30:00+00:00
17490   2020-03-30 09:00:00+00:00
17491   2020-03-30 09:30:00+00:00
17492   2020-03-30 10:00:00+00:00
17493   2020-03-30 10:30:00+00:00
17494   2020-03-30 11:00:00+00:00
17495   2020-03-30 11:30:00+00:00
17496   2020-03-30 12:00:00+00:00
17497   2020-03-30 12:30:00+00:00
17498   2020-03-30 13:00:00+00:00
17499   2020-03-30 13:30:00+00:00
17500   2020-03-30 14:00:00+00:00
17501   2020-03-30 14:30:00+00:00
17502   2020-03-30 15:00:00+00:00
17503   2020-03-30 15:30:00+00:00
17504   2020-03-30 16:00:00+00:00
17505   2020-03-30 16:30:00+00:00
17506   2020-03-30 17:00:00+00:00
17507   2020-03-30 17:30:00+00:00
17508   2020-03-30 18:00:00+00:00
17509   2020-03-30 18:30:00+00:00
17510   2020-03-30 19:00:00+00:00
17511   2020-03-30 19:30:00+00:00
17512   2020-03-30 20:00:00+00:00
17513   2020-03-30 20:30:00+00:00
17514   2020-03-30 21:00:00+00:00
17515   2020-03-30 21:30:00+00:00
17516   2020-03-30 22:00:00+00:00
17517   2020-03-30 22:30:00+00:00
17518   2020-03-30 23:00:00+00:00
17519   2020-03-30 23:30:00+00:00
17520   2020-03-31 00:00:00+00:00
17521   2020-03-31 00:30:00+00:00
17522   2020-03-31 01:00:00+00:00
17523   2020-03-31 01:30:00+00:00
17524   2020-03-31 02:00:00+00:00
17525   2020-03-31 02:30:00+00:00
17526   2020-03-31 03:00:00+00:00
17527   2020-03-31 03:30:00+00:00
17528   2020-03-31 04:00:00+00:00
17529   2020-03-31 04:30:00+00:00
17530   2020-03-31 05:00:00+00:00
17531   2020-03-31 05:30:00+00:00
17532   2020-03-31 06:00:00+00:00
17533   2020-03-31 06:30:00+00:00
17534   2020-03-31 07:00:00+00:00
17535   2020-03-31 07:30:00+00:00
17536   2020-03-31 08:00:00+00:00
17537   2020-03-31 08:30:00+00:00
17538   2020-03-31 09:00:00+00:00
17539   2020-03-31 09:30:00+00:00
17540   2020-03-31 10:00:00+00:00
17541   2020-03-31 10:30:00+00:00
17542   2020-03-31 11:00:00+00:00
17543   2020-03-31 11:30:00+00:00
17544   2020-03-31 12:00:00+00:00
17545   2020-03-31 12:30:00+00:00
17546   2020-03-31 13:00:00+00:00
17547   2020-03-31 13:30:00+00:00
17548   2020-03-31 14:00:00+00:00
17549   2020-03-31 14:30:00+00:00
17550   2020-03-31 15:00:00+00:00
17551   2020-03-31 15:30:00+00:00
17552   2020-03-31 16:00:00+00:00
17553   2020-03-31 16:30:00+00:00
17554   2020-03-31 17:00:00+00:00
17555   2020-03-31 17:30:00+00:00
17556   2020-03-31 18:00:00+00:00
17557   2020-03-31 18:30:00+00:00
17558   2020-03-31 19:00:00+00:00
17559   2020-03-31 19:30:00+00:00
17560   2020-03-31 20:00:00+00:00
17561   2020-03-31 20:30:00+00:00
17562   2020-03-31 21:00:00+00:00
17563   2020-03-31 21:30:00+00:00
17564   2020-03-31 22:00:00+00:00
17565   2020-03-31 22:30:00+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

In [9]:
# Create a new dataframe with the missing timestamps
missing_timestamps = pd.date_range(start='2020-03-29 00:00:00+00:00', end='2020-03-29 01:30:00+00:00', freq='30min')
missing_timestamps = pd.DataFrame(missing_timestamps, columns=['timestamp'])

# Insert the missing timestamps into the df_main
df_main = pd.concat([df_main, missing_timestamps], axis=0)

# Sort the dataframe by timestamp
df_main = df_main.sort_values('timestamp')

# Reset the index of the dataframe
df_main = df_main.reset_index(drop=True)

# Fill the other cells of the inserted rows with NaN
df_main = df_main.fillna(np.nan)
df_main

,timestamp,net_load,month,day,hour,day_of_week,season,avg_net_load,weekend_or_bank_holiday,solar_radiation,sunshine_duration
0,2019-04-01 00:00:00+00:00,198.79,4.0,1.0,1.0,0.0,2.0,152.86,0.0,0.0,0.0
1,2019-04-01 00:30:00+00:00,250.51,4.0,1.0,1.0,0.0,2.0,204.52,0.0,0.0,0.0
2,2019-04-01 01:00:00+00:00,194.07,4.0,1.0,2.0,0.0,2.0,214.66,0.0,0.0,0.0
3,2019-04-01 01:30:00+00:00,245.33,4.0,1.0,2.0,0.0,2.0,209.72,0.0,0.0,0.0
4,2019-04-01 02:00:00+00:00,223.68,4.0,1.0,3.0,0.0,2.0,230.59,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
17561,2020-03-31 20:30:00+00:00,28.10,3.0,31.0,21.0,1.0,2.0,282.00,0.0,NaN,NaN
17562,2020-03-31 21:00:00+00:00,11.10,3.0,31.0,22.0,1.0,2.0,321.01,0.0,NaN,NaN
17563,2020-03-31 21:30:00+00:00,196.48,3.0,31.0,22.0,1.0,2.0,353.42,0.0,NaN,NaN
17564,2020-03-31 22:00:00+00:00,293.14,3.0,31.0,23.0,1.0,2.0,219.42,0.0,NaN,NaN
17565,2020-03-31 22:30:00+00:00,346.70,3.0,31.0,23.0,1.0,2.0,193.11,0.0,NaN,NaN

In [10]:
missing_timestamps

                  timestamp
0 2020-03-29 00:00:00+00:00
1 2020-03-29 00:30:00+00:00
2 2020-03-29 01:00:00+00:00
3 2020-03-29 01:30:00+00:00

In [11]:
df_main

,timestamp,net_load,month,day,hour,day_of_week,season,avg_net_load,weekend_or_bank_holiday,solar_radiation,sunshine_duration
0,2019-04-01 00:00:00+00:00,198.79,4.0,1.0,1.0,0.0,2.0,152.86,0.0,0.0,0.0
1,2019-04-01 00:30:00+00:00,250.51,4.0,1.0,1.0,0.0,2.0,204.52,0.0,0.0,0.0
2,2019-04-01 01:00:00+00:00,194.07,4.0,1.0,2.0,0.0,2.0,214.66,0.0,0.0,0.0
3,2019-04-01 01:30:00+00:00,245.33,4.0,1.0,2.0,0.0,2.0,209.72,0.0,0.0,0.0
4,2019-04-01 02:00:00+00:00,223.68,4.0,1.0,3.0,0.0,2.0,230.59,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
17561,2020-03-31 20:30:00+00:00,28.10,3.0,31.0,21.0,1.0,2.0,282.00,0.0,NaN,NaN
17562,2020-03-31 21:00:00+00:00,11.10,3.0,31.0,22.0,1.0,2.0,321.01,0.0,NaN,NaN
17563,2020-03-31 21:30:00+00:00,196.48,3.0,31.0,22.0,1.0,2.0,353.42,0.0,NaN,NaN
17564,2020-03-31 22:00:00+00:00,293.14,3.0,31.0,23.0,1.0,2.0,219.42,0.0,NaN,NaN
17565,2020-03-31 22:30:00+00:00,346.70,3.0,31.0,23.0,1.0,2.0,193.11,0.0,NaN,NaN

In [12]:
# Check the range of the timestamp column
min_timestamp = df_main['timestamp'].min()
max_timestamp = df_main['timestamp'].max()

# Get the last 25 values of the timestamp range
last_25_timestamps = df_main['timestamp'].sort_values().tail(170)
last_25_timestamps

17396   2020-03-28 10:00:00+00:00
17397   2020-03-28 10:30:00+00:00
17398   2020-03-28 11:00:00+00:00
17399   2020-03-28 11:30:00+00:00
17400   2020-03-28 12:00:00+00:00
17401   2020-03-28 12:30:00+00:00
17402   2020-03-28 13:00:00+00:00
17403   2020-03-28 13:30:00+00:00
17404   2020-03-28 14:00:00+00:00
17405   2020-03-28 14:30:00+00:00
17406   2020-03-28 15:00:00+00:00
17407   2020-03-28 15:30:00+00:00
17408   2020-03-28 16:00:00+00:00
17409   2020-03-28 16:30:00+00:00
17410   2020-03-28 17:00:00+00:00
17411   2020-03-28 17:30:00+00:00
17412   2020-03-28 18:00:00+00:00
17413   2020-03-28 18:30:00+00:00
17414   2020-03-28 19:00:00+00:00
17415   2020-03-28 19:30:00+00:00
17416   2020-03-28 20:00:00+00:00
17417   2020-03-28 20:30:00+00:00
17418   2020-03-28 21:00:00+00:00
17419   2020-03-28 21:30:00+00:00
17420   2020-03-28 22:00:00+00:00
17421   2020-03-28 22:30:00+00:00
17422   2020-03-28 23:00:00+00:00
17423   2020-03-28 23:30:00+00:00
17424   2020-03-29 00:00:00+00:00
17425   2020-03-29 00:30:00+00:00
17426   2020-03-29 01:00:00+00:00
17427   2020-03-29 01:30:00+00:00
17428   2020-03-29 02:00:00+00:00
17429   2020-03-29 02:30:00+00:00
17430   2020-03-29 03:00:00+00:00
17431   2020-03-29 03:30:00+00:00
17432   2020-03-29 04:00:00+00:00
17433   2020-03-29 04:30:00+00:00
17434   2020-03-29 05:00:00+00:00
17435   2020-03-29 05:30:00+00:00
17436   2020-03-29 06:00:00+00:00
17437   2020-03-29 06:30:00+00:00
17438   2020-03-29 07:00:00+00:00
17439   2020-03-29 07:30:00+00:00
17440   2020-03-29 08:00:00+00:00
17441   2020-03-29 08:30:00+00:00
17442   2020-03-29 09:00:00+00:00
17443   2020-03-29 09:30:00+00:00
17444   2020-03-29 10:00:00+00:00
17445   2020-03-29 10:30:00+00:00
17446   2020-03-29 11:00:00+00:00
17447   2020-03-29 11:30:00+00:00
17448   2020-03-29 12:00:00+00:00
17449   2020-03-29 12:30:00+00:00
17450   2020-03-29 13:00:00+00:00
17451   2020-03-29 13:30:00+00:00
17452   2020-03-29 14:00:00+00:00
17453   2020-03-29 14:30:00+00:00
17454   2020-03-29 15:00:00+00:00
17455   2020-03-29 15:30:00+00:00
17456   2020-03-29 16:00:00+00:00
17457   2020-03-29 16:30:00+00:00
17458   2020-03-29 17:00:00+00:00
17459   2020-03-29 17:30:00+00:00
17460   2020-03-29 18:00:00+00:00
17461   2020-03-29 18:30:00+00:00
17462   2020-03-29 19:00:00+00:00
17463   2020-03-29 19:30:00+00:00
17464   2020-03-29 20:00:00+00:00
17465   2020-03-29 20:30:00+00:00
17466   2020-03-29 21:00:00+00:00
17467   2020-03-29 21:30:00+00:00
17468   2020-03-29 22:00:00+00:00
17469   2020-03-29 22:30:00+00:00
17470   2020-03-29 23:00:00+00:00
17471   2020-03-29 23:30:00+00:00
17472   2020-03-30 00:00:00+00:00
17473   2020-03-30 00:30:00+00:00
17474   2020-03-30 01:00:00+00:00
17475   2020-03-30 01:30:00+00:00
17476   2020-03-30 02:00:00+00:00
17477   2020-03-30 02:30:00+00:00
17478   2020-03-30 03:00:00+00:00
17479   2020-03-30 03:30:00+00:00
17480   2020-03-30 04:00:00+00:00
17481   2020-03-30 04:30:00+00:00
17482   2020-03-30 05:00:00+00:00
17483   2020-03-30 05:30:00+00:00
17484   2020-03-30 06:00:00+00:00
17485   2020-03-30 06:30:00+00:00
17486   2020-03-30 07:00:00+00:00
17487   2020-03-30 07:30:00+00:00
17488   2020-03-30 08:00:00+00:00
17489   2020-03-30 08:30:00+00:00
17490   2020-03-30 09:00:00+00:00
17491   2020-03-30 09:30:00+00:00
17492   2020-03-30 10:00:00+00:00
17493   2020-03-30 10:30:00+00:00
17494   2020-03-30 11:00:00+00:00
17495   2020-03-30 11:30:00+00:00
17496   2020-03-30 12:00:00+00:00
17497   2020-03-30 12:30:00+00:00
17498   2020-03-30 13:00:00+00:00
17499   2020-03-30 13:30:00+00:00
17500   2020-03-30 14:00:00+00:00
17501   2020-03-30 14:30:00+00:00
17502   2020-03-30 15:00:00+00:00
17503   2020-03-30 15:30:00+00:00
17504   2020-03-30 16:00:00+00:00
17505   2020-03-30 16:30:00+00:00
17506   2020-03-30 17:00:00+00:00
17507   2020-03-30 17:30:00+00:00
17508   2020-03-30 18:00:00+00:00
17509   2020-03-30 18:30:00+00:00
17510   2020-03-30 19:00:00+00:00
17511   2020-03-30 19:30:00+00:00
17512   2020-03-30 20:00:00+00:00
17513   2020-03-30 20:30:00+00:00
17514   2020-03-30 21:00:00+00:00
17515   2020-03-30 21:30:00+00:00
17516   2020-03-30 22:00:00+00:00
17517   2020-03-30 22:30:00+00:00
17518   2020-03-30 23:00:00+00:00
17519   2020-03-30 23:30:00+00:00
17520   2020-03-31 00:00:00+00:00
17521   2020-03-31 00:30:00+00:00
17522   2020-03-31 01:00:00+00:00
17523   2020-03-31 01:30:00+00:00
17524   2020-03-31 02:00:00+00:00
17525   2020-03-31 02:30:00+00:00
17526   2020-03-31 03:00:00+00:00
17527   2020-03-31 03:30:00+00:00
17528   2020-03-31 04:00:00+00:00
17529   2020-03-31 04:30:00+00:00
17530   2020-03-31 05:00:00+00:00
17531   2020-03-31 05:30:00+00:00
17532   2020-03-31 06:00:00+00:00
17533   2020-03-31 06:30:00+00:00
17534   2020-03-31 07:00:00+00:00
17535   2020-03-31 07:30:00+00:00
17536   2020-03-31 08:00:00+00:00
17537   2020-03-31 08:30:00+00:00
17538   2020-03-31 09:00:00+00:00
17539   2020-03-31 09:30:00+00:00
17540   2020-03-31 10:00:00+00:00
17541   2020-03-31 10:30:00+00:00
17542   2020-03-31 11:00:00+00:00
17543   2020-03-31 11:30:00+00:00
17544   2020-03-31 12:00:00+00:00
17545   2020-03-31 12:30:00+00:00
17546   2020-03-31 13:00:00+00:00
17547   2020-03-31 13:30:00+00:00
17548   2020-03-31 14:00:00+00:00
17549   2020-03-31 14:30:00+00:00
17550   2020-03-31 15:00:00+00:00
17551   2020-03-31 15:30:00+00:00
17552   2020-03-31 16:00:00+00:00
17553   2020-03-31 16:30:00+00:00
17554   2020-03-31 17:00:00+00:00
17555   2020-03-31 17:30:00+00:00
17556   2020-03-31 18:00:00+00:00
17557   2020-03-31 18:30:00+00:00
17558   2020-03-31 19:00:00+00:00
17559   2020-03-31 19:30:00+00:00
17560   2020-03-31 20:00:00+00:00
17561   2020-03-31 20:30:00+00:00
17562   2020-03-31 21:00:00+00:00
17563   2020-03-31 21:30:00+00:00
17564   2020-03-31 22:00:00+00:00
17565   2020-03-31 22:30:00+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

In [13]:
# Check the range of the timestamp column
min_timestamp = df_main['timestamp'].min()
max_timestamp = df_main['timestamp'].max()

# Get the last 25 values of the timestamp range
last_25_timestamps = df_main['timestamp'].sort_values().tail(180)
last_25_timestamps

17386   2020-03-28 05:00:00+00:00
17387   2020-03-28 05:30:00+00:00
17388   2020-03-28 06:00:00+00:00
17389   2020-03-28 06:30:00+00:00
17390   2020-03-28 07:00:00+00:00
17391   2020-03-28 07:30:00+00:00
17392   2020-03-28 08:00:00+00:00
17393   2020-03-28 08:30:00+00:00
17394   2020-03-28 09:00:00+00:00
17395   2020-03-28 09:30:00+00:00
17396   2020-03-28 10:00:00+00:00
17397   2020-03-28 10:30:00+00:00
17398   2020-03-28 11:00:00+00:00
17399   2020-03-28 11:30:00+00:00
17400   2020-03-28 12:00:00+00:00
17401   2020-03-28 12:30:00+00:00
17402   2020-03-28 13:00:00+00:00
17403   2020-03-28 13:30:00+00:00
17404   2020-03-28 14:00:00+00:00
17405   2020-03-28 14:30:00+00:00
17406   2020-03-28 15:00:00+00:00
17407   2020-03-28 15:30:00+00:00
17408   2020-03-28 16:00:00+00:00
17409   2020-03-28 16:30:00+00:00
17410   2020-03-28 17:00:00+00:00
17411   2020-03-28 17:30:00+00:00
17412   2020-03-28 18:00:00+00:00
17413   2020-03-28 18:30:00+00:00
17414   2020-03-28 19:00:00+00:00
17415   2020-03-28 19:30:00+00:00
17416   2020-03-28 20:00:00+00:00
17417   2020-03-28 20:30:00+00:00
17418   2020-03-28 21:00:00+00:00
17419   2020-03-28 21:30:00+00:00
17420   2020-03-28 22:00:00+00:00
17421   2020-03-28 22:30:00+00:00
17422   2020-03-28 23:00:00+00:00
17423   2020-03-28 23:30:00+00:00
17424   2020-03-29 00:00:00+00:00
17425   2020-03-29 00:30:00+00:00
17426   2020-03-29 01:00:00+00:00
17427   2020-03-29 01:30:00+00:00
17428   2020-03-29 02:00:00+00:00
17429   2020-03-29 02:30:00+00:00
17430   2020-03-29 03:00:00+00:00
17431   2020-03-29 03:30:00+00:00
17432   2020-03-29 04:00:00+00:00
17433   2020-03-29 04:30:00+00:00
17434   2020-03-29 05:00:00+00:00
17435   2020-03-29 05:30:00+00:00
17436   2020-03-29 06:00:00+00:00
17437   2020-03-29 06:30:00+00:00
17438   2020-03-29 07:00:00+00:00
17439   2020-03-29 07:30:00+00:00
17440   2020-03-29 08:00:00+00:00
17441   2020-03-29 08:30:00+00:00
17442   2020-03-29 09:00:00+00:00
17443   2020-03-29 09:30:00+00:00
17444   2020-03-29 10:00:00+00:00
17445   2020-03-29 10:30:00+00:00
17446   2020-03-29 11:00:00+00:00
17447   2020-03-29 11:30:00+00:00
17448   2020-03-29 12:00:00+00:00
17449   2020-03-29 12:30:00+00:00
17450   2020-03-29 13:00:00+00:00
17451   2020-03-29 13:30:00+00:00
17452   2020-03-29 14:00:00+00:00
17453   2020-03-29 14:30:00+00:00
17454   2020-03-29 15:00:00+00:00
17455   2020-03-29 15:30:00+00:00
17456   2020-03-29 16:00:00+00:00
17457   2020-03-29 16:30:00+00:00
17458   2020-03-29 17:00:00+00:00
17459   2020-03-29 17:30:00+00:00
17460   2020-03-29 18:00:00+00:00
17461   2020-03-29 18:30:00+00:00
17462   2020-03-29 19:00:00+00:00
17463   2020-03-29 19:30:00+00:00
17464   2020-03-29 20:00:00+00:00
17465   2020-03-29 20:30:00+00:00
17466   2020-03-29 21:00:00+00:00
17467   2020-03-29 21:30:00+00:00
17468   2020-03-29 22:00:00+00:00
17469   2020-03-29 22:30:00+00:00
17470   2020-03-29 23:00:00+00:00
17471   2020-03-29 23:30:00+00:00
17472   2020-03-30 00:00:00+00:00
17473   2020-03-30 00:30:00+00:00
17474   2020-03-30 01:00:00+00:00
17475   2020-03-30 01:30:00+00:00
17476   2020-03-30 02:00:00+00:00
17477   2020-03-30 02:30:00+00:00
17478   2020-03-30 03:00:00+00:00
17479   2020-03-30 03:30:00+00:00
17480   2020-03-30 04:00:00+00:00
17481   2020-03-30 04:30:00+00:00
17482   2020-03-30 05:00:00+00:00
17483   2020-03-30 05:30:00+00:00
17484   2020-03-30 06:00:00+00:00
17485   2020-03-30 06:30:00+00:00
17486   2020-03-30 07:00:00+00:00
17487   2020-03-30 07:30:00+00:00
17488   2020-03-30 08:00:00+00:00
17489   2020-03-30 08:30:00+00:00
17490   2020-03-30 09:00:00+00:00
17491   2020-03-30 09:30:00+00:00
17492   2020-03-30 10:00:00+00:00
17493   2020-03-30 10:30:00+00:00
17494   2020-03-30 11:00:00+00:00
17495   2020-03-30 11:30:00+00:00
17496   2020-03-30 12:00:00+00:00
17497   2020-03-30 12:30:00+00:00
17498   2020-03-30 13:00:00+00:00
17499   2020-03-30 13:30:00+00:00
17500   2020-03-30 14:00:00+00:00
17501   2020-03-30 14:30:00+00:00
17502   2020-03-30 15:00:00+00:00
17503   2020-03-30 15:30:00+00:00
17504   2020-03-30 16:00:00+00:00
17505   2020-03-30 16:30:00+00:00
17506   2020-03-30 17:00:00+00:00
17507   2020-03-30 17:30:00+00:00
17508   2020-03-30 18:00:00+00:00
17509   2020-03-30 18:30:00+00:00
17510   2020-03-30 19:00:00+00:00
17511   2020-03-30 19:30:00+00:00
17512   2020-03-30 20:00:00+00:00
17513   2020-03-30 20:30:00+00:00
17514   2020-03-30 21:00:00+00:00
17515   2020-03-30 21:30:00+00:00
17516   2020-03-30 22:00:00+00:00
17517   2020-03-30 22:30:00+00:00
17518   2020-03-30 23:00:00+00:00
17519   2020-03-30 23:30:00+00:00
17520   2020-03-31 00:00:00+00:00
17521   2020-03-31 00:30:00+00:00
17522   2020-03-31 01:00:00+00:00
17523   2020-03-31 01:30:00+00:00
17524   2020-03-31 02:00:00+00:00
17525   2020-03-31 02:30:00+00:00
17526   2020-03-31 03:00:00+00:00
17527   2020-03-31 03:30:00+00:00
17528   2020-03-31 04:00:00+00:00
17529   2020-03-31 04:30:00+00:00
17530   2020-03-31 05:00:00+00:00
17531   2020-03-31 05:30:00+00:00
17532   2020-03-31 06:00:00+00:00
17533   2020-03-31 06:30:00+00:00
17534   2020-03-31 07:00:00+00:00
17535   2020-03-31 07:30:00+00:00
17536   2020-03-31 08:00:00+00:00
17537   2020-03-31 08:30:00+00:00
17538   2020-03-31 09:00:00+00:00
17539   2020-03-31 09:30:00+00:00
17540   2020-03-31 10:00:00+00:00
17541   2020-03-31 10:30:00+00:00
17542   2020-03-31 11:00:00+00:00
17543   2020-03-31 11:30:00+00:00
17544   2020-03-31 12:00:00+00:00
17545   2020-03-31 12:30:00+00:00
17546   2020-03-31 13:00:00+00:00
17547   2020-03-31 13:30:00+00:00
17548   2020-03-31 14:00:00+00:00
17549   2020-03-31 14:30:00+00:00
17550   2020-03-31 15:00:00+00:00
17551   2020-03-31 15:30:00+00:00
17552   2020-03-31 16:00:00+00:00
17553   2020-03-31 16:30:00+00:00
17554   2020-03-31 17:00:00+00:00
17555   2020-03-31 17:30:00+00:00
17556   2020-03-31 18:00:00+00:00
17557   2020-03-31 18:30:00+00:00
17558   2020-03-31 19:00:00+00:00
17559   2020-03-31 19:30:00+00:00
17560   2020-03-31 20:00:00+00:00
17561   2020-03-31 20:30:00+00:00
17562   2020-03-31 21:00:00+00:00
17563   2020-03-31 21:30:00+00:00
17564   2020-03-31 22:00:00+00:00
17565   2020-03-31 22:30:00+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

In [14]:
# Create and insert rows to account for missing values of half hourly data betwen 2020-03-28 23:30:00+00:00 and 2020-03-29 02:00:00+00:00
# Create a new dataframe with the missing timestamps
missing_timestamps = pd.date_range(start='2020-03-29 00:00:00+00:00', end='2020-03-29 01:30:00+00:00', freq='30min')
missing_timestamps = pd.DataFrame(missing_timestamps, columns=['timestamp'])
missing_timestamps

#insert the missing timestamps into the df_main
df_main = pd.concat([df_main, missing_timestamps], axis=0)
df_main

,timestamp,net_load,month,day,hour,day_of_week,season,avg_net_load,weekend_or_bank_holiday,solar_radiation,sunshine_duration
0,2019-04-01 00:00:00+00:00,198.79,4.0,1.0,1.0,0.0,2.0,152.86,0.0,0.0,0.0
1,2019-04-01 00:30:00+00:00,250.51,4.0,1.0,1.0,0.0,2.0,204.52,0.0,0.0,0.0
2,2019-04-01 01:00:00+00:00,194.07,4.0,1.0,2.0,0.0,2.0,214.66,0.0,0.0,0.0
3,2019-04-01 01:30:00+00:00,245.33,4.0,1.0,2.0,0.0,2.0,209.72,0.0,0.0,0.0
4,2019-04-01 02:00:00+00:00,223.68,4.0,1.0,3.0,0.0,2.0,230.59,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
17565,2020-03-31 22:30:00+00:00,346.70,3.0,31.0,23.0,1.0,2.0,193.11,0.0,NaN,NaN
0,2020-03-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-29 00:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-29 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-29 01:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create raws for missing data 
### (between 2020-03-28 23:30:00+00:00 and 2020-03-29 02:00:00+00:00, exclusive)

In [ ]:
#min_date = df_main['timestamp'].min()
#max_date = df_main['timestamp'].max()

#date_range = pd.date_range(start=min_date, end=max_date, freq='30min')

# new df main inserting all the timestamps in date range
#df_main = df_main.set_index('timestamp').reindex(date_range).rename_axis('timestamp').reset_index()